*:focus {
    outline:none;
}

body {
    background: rgb(250, 250, 250);
}

.header {
    left: 50px;
    right: 50px;
    top: 50px;
    text-align: center;
    font-size:15pt;
    line-height: 60px;
    height: 60px;
    box-shadow: 0 1px 18px 0 rgba(47, 48, 53, 0.404);
    position: fixed;
    border: 0px solid transparent;
    border-radius: 10pt;
    background: white !important;
    z-index: 4;
}

.school_result {
    border-radius: 7pt;
    background: #ffffff;
    height: 75px;
    border: 0px solid transparent;
    box-shadow: 0 0 18px 0 rgba(47, 48, 53, 0.404);
    margin: auto;
    padding: auto;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    line-height: 75px;
    z-index: 1;
}


.school_search{
    border-radius: 7pt;
    background: #ffffff !important;
    height: 75px;
    border: 0px solid transparent;
    box-shadow: 0 0 18px 0 rgba(47, 48, 53, 0.404);
    position: fixed;
    margin: auto;
    padding: auto;
    /*left: 50px;
    right: 50px;*/
    left: 50px;
    right: 51%;
    top: 135px;
    padding-top: 18.75px;
    padding-left: 12px;
    padding-right: 12px;
    z-index: 3;
}

.searchingwindow{
    border-radius: 7pt;
    background: #ffffff !important;
    height: 75px;
    border: 0px solid transparent;
    box-shadow: 0 0 18px 0 rgba(47, 48, 53, 0.404);
    position: fixed;
    left: 50px;
    right: 51%;
    top: 135px;
    padding-top: 18.75px;
    padding-left: 12px;
    padding-right: 12px;
    z-index: 3;
}

.search_top > .school_search {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 18.75px;
}

.date_selecter {
    border-radius: 7pt;
    background: #ffffff !important;
    height: 75px;
    border: 0px solid transparent;
    box-shadow: 0 0 18px 0 rgba(47, 48, 53, 0.404);
    position: fixed;
    margin: auto;
    padding: auto;
    /*left: 50px;
    right: 50px;*/
    right: 50px;
    left: 51%;
    top: 135px;
    padding-top: 18.75px;
    padding-left: 12px;
    padding-right: 12px;
    z-index: 2;
}

#search_zone {
    margin-bottom: 235px;
}

.select_button {
    margin-right: 0px;
}